@font-face {
    font-family: UVNKIEU;
    src: url(/theme/frontend/fonts/UVNKIEU_0.TTF);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/theme/frontend/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/theme/frontend/fonts/Roboto-Regular.ttf);
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

.background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    margin-bottom: 40px;
}

.header {
    background-image: url(/theme/frontend/images/bg_banner.png);
    text-align: center;
    position: relative;
    padding: 20px 0;
}

.header::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    
}

.header > a {
    display: inline-block;
    position: relative;
}



.header-bar {
    background-color: rgb(255, 182, 40);
    max-height: 40px;
    /* padding: 1px 0; */
}

.main-menu {
    text-align: center;
    padding: 10px 0;
}

/* @media screen and (max-width: 992px) {
    .main-menu {
        padding: 0;
    }
} */

.main-menu > ul > li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 18px;
    margin: 0 40px;
    font-family: Roboto-Regular;
    
}

.main-menu li::after {
    content: '';
    position: absolute;
    right: -38px;
    top: -6px;
    background-image: url(/theme/frontend/images/boder_menu.png);
    width: 1px;
    height: 30px;
}


.main-menu li:last-child::after {
    display: none;
}

.main-menu > ul > li > a {
    font-size: 18px;
    padding: 6px 0px 3px 0px;
}

.menu-drop {
    position: relative;
}


.main-menu ul li ul {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    /* display: none; */
    position: absolute;
    left: 0;
    top: 35px;
    min-width: 220px;
    background-color: rgba(255, 182, 40, 0.85);
    transition: all 0.2s ease-in-out;
}

.main-menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.main-menu ul li ul li ul {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    /* display: none; */
    position: absolute;
    left: 225px;
    top: 36px;
    min-width: 220px;
    background-color: rgba(255, 182, 40, 0.85);
    transition: all 0.2s ease-in-out;
}


.main-menu ul li a:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    right: 0;
    width: 0px;
    height: 2px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background: #010101;
    background: linear-gradient(to right, rgba(1, 1, 1, 0), #010101, rgba(1, 1, 1, 0));
    transition: all 0.2s ease-in-out;
}


/* .main-menu ul li {
    opacity: 0;
} */

.main-menu ul li a:hover::before {
    left: 0;
    width: 100%;
    opacity: 1;
}

.main-menu > ul > li > a:hover  {
    width: 100%;
}

.main-menu ul li ul > li {
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

.main-menu ul li ul li:hover {
    background-color: #ffb628;
}

.main-menu ul li ul > li::after {
    display: none;
}

.main-menu ul li ul a {
    display: block;
    color: #010101;
    font-size: 16px;
    padding: 10px 15px;
    
}

.main-menu ul li > i > i {
    visibility: hidden;
}



/* ---------------------------------Main----------------------------- */

.head-title {
    font-size: 50px;
    font-family: "UVNKIEU";
    border-bottom: 1px solid black;
    margin-bottom: 24px;
}

.main-products-header {
    position: relative;
}



.header-tab {
    text-align: right;
    margin-top: -56px;
    margin-bottom: 9px;
    border-color: transparent;

}



.header-tab li {
    display: inline-block;
}

.header-tab a {
    font-size: 14px;
    font-family: Roboto-Regular;
    font-weight: 600;
    padding: 7px 15px;
}

.header-tab li.active {
    border: 1px solid black;
    background-color: rgb(235, 235, 235);
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}



.tab-content .row {
    margin-right: -15px;
    margin-left: -15px;
}

.fade.in {
    opacity: 1;
}

.col-lg-4 {
    text-align: center;
    display: inline-block;
}


.products {
    margin-top: 30px;
    text-align: left;
    background-color: rgb(235, 235, 235);
}

.products:last-child {
    margin-bottom: 30px;
}

.products-copy {
    padding: 10px;
}

.products h3 {
    padding-top: 15px;
    font-family: Roboto-Regular;
    font-size: 14px;
}

.products img {
    max-width: 100%;
    max-height: 100%;
}

.image-products {
    width: 100%;
}

.add {
    font-style: italic;
    font-size: 12px;
    font-family: Roboto-Regular;
    color: #666;
    padding-top: 15px;
    margin-bottom: 2px;
}

.star-bar {
    padding-top: 10px;
}

.products p {
    font-size: 14px;
    font-family: Roboto-Regular;
    line-height: 22px;
    overflow: hidden;
}


/* --------------------------Aside------------------------------- */


.aside-form {
    background: #000;
    padding: 3px 3px 15px 3px;
    margin-bottom: 30px;
}


.aside-form .form-title {
    font-size: 14px;
    font-family: Roboto-Regular;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 6px 6px;
    background-color: #ffb628;
    margin-bottom: 15px;
}

.aside-form form {
    padding: 0 12px;
}

.aside-form form p {
    color: #ffb628;
    margin-bottom: 4px;

}

.aside-form form, .aside-form form p {
    font-family: Roboto-Regular;
}

.aside-form form input, .aside-form form select {
    width: 100%;
    height: 35px;
    border: none;
    margin-bottom: 15px;
}


.form-rate-search {
    display: table;
    width: 100%;
}

.search {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}


.search button {
    background: #ffb628;
    padding: 6px 25px;
    color: #000;
    cursor: pointer;
}

.aside-banner {
    margin: 0 auto 30px auto;
    max-width: 350px;
}

.img-banner {
    width: 100%;
}


/* ---------------------------------------------------Featured------------------------------------------------- */




.featured {
    position: relative;
    background-image: url(/theme/frontend/images/bg_featured.jpg);
    padding: 40px 0 40px 0;
}

.featured .featured-title {
    position: relative;
    font-size: 50px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-family: "UVNKIEU";
    color: #ffb628;
    text-align: center;
    background-image: url(/theme/frontend/images/decoration_feature.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}


.featured::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
    
}

.spa-item {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}


.spa-copy {

    padding-left: 18px;
    padding-top: 5px;
}


.spa-copy h3 {
    color: #fff;
    font-size: 18px;
    font-family: Roboto-Regular;
    margin-bottom: 5px;
}

.spa-copy h3:hover {
    color: #ffb628;
}

.spa-copy p {
    text-align: left;
    color: #999;
    font-style: italic;
    font-family: "Arial";
    font-size: 14px;
}

/* -----------------------------------------------------------News----------------------------------------------------------------- */

.news {
    padding: 40px 0 40px 0;
    background-image: url(/theme/frontend/images/bg_news.jpg);
}

.news-item {
    max-width: 380px;
    margin: 0 auto 30px auto;
}

.img-news {
    width: 100%;
}


.news-title {
    position: relative;
    font-size: 50px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-family: "UVNKIEU";
    color: rgb(123, 2 ,0);
    text-align: center;
    background-image: url(/theme/frontend/images/decoration_news.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.news-copy {
    background: #fff;
    padding: 12px 15px;
}

.news-head {
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #7b0200;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.news-head:hover {
    color: #ffb628;
}

.news-copy p {
    font-family: Roboto-Regular;
    font-size: 14px;
}

.view-all {
    text-align: center;
}

.view-all button {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 80px 8px 80px;
    border: 1px solid #7b0b00;
    font-family: Roboto-Regular;
    transition: ease-in-out 0.5s;
    background-color: transparent;
}

.view-all button:hover {
    color: #fff;
    background-color: #7b0b00;
}

/* --------------------------------Footer----------------------------------*/

.footer-top {
    padding: 40px 0;
    background-color: rgb(235, 235, 235);
}


.footer-title {
    font-size: 16px;
    font-family: Roboto-Regular;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-list {
    margin-bottom: 30px;
}

.footer-list li {
    font-family: Roboto-Regular;
    margin-bottom: 6px;
    padding-left: 15px;
    margin-left: 3px;
    position: relative;
}

.footer-list li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}


.footer p {
    font-family: Roboto-Regular;
}


.footer-bottom {
    font-family: Roboto-Regular;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 30px 0;
}




















